{% extends './components/layout.html' %}

{% block title %}주문{% endblock %}

{% block input_text %}
    {% if search %}
        <input type="text" name="search" value="{{ search }}" style="margin-right:10px">
    {% else %}
        <input type="text" name="search" placeholder="ID를 입력하세요" style="margin-right:10px;">
    {% endif %}
{% endblock %}

{% block select_option %}
    <select name="choice_year" style="margin-right:10px;" >
        {% if choice_year %}
            <option value="{{ choice_year }}" selected hidden>{{ choice_year }}</option>
        {% else %}
            <option value="" selected disabled hidden>연</option>
        {% endif %}
        <option value="">All</option>
        {% for year in range(2023, 2000, -1)%}
            <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select>
    <select name="choice_month" style="margin-right:10px;" >
        {% if choice_month %}
            <option value="{{ choice_month }}" selected hidden>{{ choice_month }}</option>
        {% else %}
            <option value="" selected disabled hidden>월</option>
        {% endif %}
        <option value="">All</option>
        {% for month in range(12, 0, -1)%}
            <option value="{{ '%02d' %month }}">{{ '%02d' %month }}</option>
        {% endfor %}
    </select>
    <select name="choice_day" style="margin-right:10px;" >
        {% if choice_day %}
            <option value="{{ choice_month }}" selected hidden>{{ choice_day }}</option>
        {% else %}
            <option value="" selected disabled hidden>일</option>
        {% endif %}
        <option value="">All</option>
        {% for day in range(31, 0, -1)%}
            <option value="{{ '%02d' %day }}">{{ '%02d' %day }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block input_submit %}{{ super() }}{% endblock %}

{% block headers %}{{ super() }}{% endblock %}

{% block click %}
    {% for i in range(datas | length) %}
    <tr>
    {% for j in range(datas[i] | length) %}
        {% if j==0 %}
            <td><a href="/orders?id={{ datas[i][0] }}&search={{ search }}&page={{ page }}">{{ datas[i][0] }}</a></td>
        {% else %}
            <td>{{ datas[i][j] }}</td>
        {% endif %}
    {% endfor %}
    </tr>
    {% endfor %}
{% endblock %}

{% block pagination %}
    {% if move_page_front %}
        <li  class="page-item"><a class="page-link" href='/orders?search={{ search }}&page={{ 1 }}&choice_year={{ choice_year }}&choice_month={{ choice_month }}&choice_day={{ choice_day }}'><span aria-hidden="true">&laquo;&laquo;</span></a></li>
        <li  class="page-item"><a class="page-link" href='/orders?search={{ search }}&page={{ page-5 }}&choice_year={{ choice_year }}&choice_month={{ choice_month }}&choice_day={{ choice_day }}'><span aria-hidden="true">&laquo;</span></a></li>
    {% endif %}
    {% for p in range(pagination_start, pagination_end+1) %}
        
        <li  class="page-item"><a class="page-link" href='/orders?search={{ search }}&page={{ p }}&&choice_year={{ choice_year }}&choice_month={{ choice_month }}&choice_day={{ choice_day }}'>
            {% if page == p %}
                <strong><mark>
            {% endif %}
            {{ p }}
            {% if page == p %}
                </strong></mark>
            {% endif %}
        </a></li>
    {% endfor %}
    {% if move_page_back %}
        <li  class="page-item"><a class="page-link" href='/orders?search={{ search }}&page={{ page+5 }}&choice_year={{ choice_year }}&choice_month={{ choice_month }}&choice_day={{ choice_day }}'><span aria-hidden="true">&raquo;</span></a></li>
        <li  class="page-item"><a class="page-link" href='/orders?search={{ search }}&page={{ total_page }}&choice_year={{ choice_year }}&choice_month={{ choice_month }}&choice_day={{ choice_day }}'><span aria-hidden="true">&raquo;&raquo;</span></a></li>
    {% endif %}
{% endblock%}