<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>스토어</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Home</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link" href="/users">User</a>
              <a class="nav-link" href="/orders">Order</a>
              <a class="nav-link" href="/orderitems">Order Item</a>
              <a class="nav-link" href="/items">Item</a>
              <a class="nav-link" href="/stores">Store</a>
            </div>
          </div>
        </div>
      </nav>

    <!-- 사용자 검색 버튼 form 안에 있는 것은 마지막 상태로 넘어간다!-->
    <form method="get">
        <ul class="mt-3" style="display:flex; flex-direction:row; flex-wrap:wrap;">
            {% if search_store %}
                <input type="text" name="search_store" style="margin-right:10px;" value="{{ search_store }}">
            {%else %}
                <input type="text" name="search_store" style="margin-right:10px;" placeholder="상점 정보 입력">
            {% endif %}
            <select name="choice_type" style="margin-right:10px;" >
                <option value="{{ choice_type }}" selected disabled hidden>카페 선택</option>
                <option value="">All</option>
                <option value="스타벅스">스타벅스</option>
                <option value="투썸">투썸플레이스</option>
                <option value="커피빈">커피빈</option>
                <option value="이디야">이디야</option>
            </select>
            <input type="submit" value="이동">
        </ul>
    </form>

    <table class="table table-striped">
        <tr class="table-primary">
            {% for header in headers %}
                <th>{{ header }}</th>
            {% endfor %}
        </tr>
        <!-- 사용자 id 클릭시 이동 버튼 -->
        {% for i in range(stores | length) %}
            <tr>
            {% for j in range(stores[i] | length) %}
                {% if j==0 %}
                    <td><a href="/stores?id={{ stores[i][0] }}&search_store={{ search_store }}&page={{ page }}">{{ stores[i][0] }}</a></td>
                {% else %}
                    <td>{{ stores[i][j] }}</td>
                {% endif %}
            {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <table style="width: 250px; height:250px;" class="table table-bordered">
        <tr class="table-primary">
            <td>날짜</td>
            <td>매출액</td>
        </tr>
        {% for row in monthly_revenue %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}원</td>
        </tr>
        {% endfor %}
    </table>

    <div style="width: 500px;"><canvas id="myChart"></canvas></div>
    
    <script>
        const ctx = document.getElementById('myChart');
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{ labels | safe }},
                datasets: [{
                    label: '전체 매장의 월간 매출액 총합',
                    data: {{ revenues | safe }},
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        maxHeight: 30
                    }
                }
            }
        });
    </script>


    <nav aria-label="Page navigation example">
        <ul class="pagination" style="justify-content : center;">
            {% if move_page_front %}
                <li  class="page-item"><a class="page-link" href='/stores?search_store={{ search_store }}&page={{ 1 }}&choice_gender={{ choice_gender }}'><span aria-hidden="true">&laquo;&laquo;</span></a></li>
                <li  class="page-item"><a class="page-link" href='/stores?search_store={{ search_store }}&page={{ page-5 }}&choice_gender={{ choice_gender }}'><span aria-hidden="true">&laquo;</span></a></li>
            {% endif %}
            {% for p in range(pagination_start, pagination_end+1) %}
                
                <li  class="page-item"><a class="page-link" href='/stores?search_store={{ search_store }}&page={{ p }}&choice_gender={{ choice_gender }}'>
                    {% if page == p %}
                        <strong><mark>
                    {% endif %}
                    {{ p }}
                    {% if page == p %}
                        </strong></mark>
                    {% endif %}
                </a></li>
            {% endfor %}
            {% if move_page_back %}
                <li  class="page-item"><a class="page-link" href='/stores?search_store={{ search_store }}&page={{ page+5 }}&choice_gender={{ choice_gender }}'><span aria-hidden="true">&raquo;</span></a></li>
                <li  class="page-item"><a class="page-link" href='/stores?search_store={{ search_store }}&page={{ total_page }}&choice_gender={{ choice_gender }}'><span aria-hidden="true">&raquo;&raquo;</span></a></li>
            {% endif %}
        </ul>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>