{% extends './components/layout.html' %}

{% block title %}스토어{% endblock %}

{% block input_text %}
    {% if search %}
        <input type="text" name="search" style="margin-right:10px;" value="{{ search }}">
    {%else %}
        <input type="text" name="search" style="margin-right:10px;" placeholder="상점 정보 입력">
    {% endif %}
{% endblock %}

{% block select_option %}
    <select name="choice_type" style="margin-right:10px;" >
        {% if choice_type %}
            <option value="{{ choice_type }}" selected disabled hidden>{{ choice_type }}</option>
        {% else %}
            <option value="" selected disabled hidden>카페 선택</option>
        {% endif %}
        <option value="">All</option>
        {% for tp in storetype_list %}
            <option value="{{ tp }}">{{ tp }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block input_submit %}{{ super() }}{% endblock %}

{% block headers %}{{ super() }}{% endblock %}

{% block click %}
    {% for i in range(datas | length) %}
        {% set data = datas[i] %}
        <tr>
        {% for j in range(data | length) %}
            {% if j==0 %}
                <td><a href="/stores?id={{ data[0] }}&search={{ search }}&page={{ page }}">{{ data[0] }}</a></td>
            {% else %}
                <td>{{ data[j] }}</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}

{% block pagination %}
    {% if move_page_front %}
        <li  class="page-item"><a class="page-link" href='/stores?search={{ search }}&page={{ 1 }}&choice_type={{ choice_type }}'><span aria-hidden="true">&laquo;&laquo;</span></a></li>
        <li  class="page-item"><a class="page-link" href='/stores?search={{ search }}&page={{ page-5 }}&choice_type={{ choice_type }}'><span aria-hidden="true">&laquo;</span></a></li>
    {% endif %}
    {% for p in range(pagination_start, pagination_end+1) %}
        
        <li  class="page-item"><a class="page-link" href='/stores?search={{ search }}&page={{ p }}&choice_type={{ choice_type }}'>
            {% if page == p %}
                <strong><mark>
            {% endif %}
            {{ p }}
            {% if page == p %}
                </strong></mark>
            {% endif %}
        </a></li>
    {% endfor %}
    {% if move_page_back %}
        <li class="page-item"><a class="page-link" href='/stores?search={{ search }}&page={{ page+5 }}&choice_type={{ choice_type }}'><span aria-hidden="true">&raquo;</span></a></li>
        <li class="page-item"><a class="page-link" href='/stores?search={{ search }}&page={{ total_page }}&choice_type={{ choice_type }}'><span aria-hidden="true">&raquo;&raquo;</span></a></li>
    {% endif %}
{% endblock%}

{% block statistic_table %}
    <div class="mg-r table-primary">
        <table class="table table-bordered">
            <tr class="table-primary">
                <td>날짜</td>
                <td>매출액</td>
                <td>판매 물품량</td>
            </tr>
            {% for row in monthly_revenue %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}원</td>
                <td>{{ row[2] }}개</td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

    
{% block statistic_chart %}
    <div>
        <div style = "width: 900px;">
            <canvas id="myChart"></canvas>
        </div>
    </div>
{% endblock %}


{% block statistic_drawing %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById('myChart');
    const mixedChart = new Chart(ctx, {
        data: {
          datasets: [{
            type: 'bar',
            label: 'Revenues',
            yAxisID: 'y-left',
            data: {{ revenues | safe }},
            order: 2
          }, {
            type: 'line',
            label: 'Item Count',
            yAxisID: 'y-right',
            data: {{ itemCounts | safe }},
            order: 1
          }],
            labels: {{ labels | safe }}
        },
        options: {
            responsive:true,
            // maintainAspectRatio: false,
            scales: {
                x: {
                    title: {
                        display: true,
                        text: '연/월'
                    }
                },
              
                'y-right': {
                    type: 'linear',
                    position: 'right',
                    title: {
                        display: true,
                        text: 'ItemCount 단위'
                    },
                    grid: {
                        display: false
                    }
                }
            }
        }
    });
</script>
{% endblock %}