{% extends './components/detail_layout.html' %}

{% block title %}사용자 '{{ data[1] }}'의 세부정보{% endblock %}

{% block go_back %}
    <button type="button" class="navyBtn", onclick="location.href='/users?search_user={{ search_user }}'">뒤로 가기</button>
{% endblock %}

{% block statistic_table %}
    <table class="table table-bordered"> 
        <tr class="table-primary">
            {% for header in statistic_headers %}
                <td>{{ header }}</td>
            {% endfor %}
        </tr>
        {% for row in statistic %}
            <tr>
                {% for td in row %}
                    <td>{{ td }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block statistic_chart %}
    <div>
        <canvas id="myChart"></canvas>
    </div>
{% endblock %}

{% block statistic_drawing %}
    <script>
        const ctx = document.getElementById('myChart');
        const mixedChart = new Chart(ctx, {
            data: {
            datasets: [{
                type: 'line',
                label: 'Revenues',
                yAxisID: 'y-right',
                data: {{ count | tojson }},
                order: 1
            }, {
                type: 'bar',
                label: 'Item Count',
                yAxisID: 'y-left',
                data: {{ totalspend | tojson }},
                order: 2
            }],
                labels: {{ shopname | tojson }}
            },
            options: {
                responsive: true,
                // maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks : {
                            beginAtZero: true,
                            min: 0
                        }
                    }],
                    x: {
                        title: {
                            display: true,
                            text: '상점 명'
                        }
                    },
                    'y-right': {
                        type: 'linear',
                        position: 'right',
                        title: {
                            display: true,
                            text: '개수'
                        },
                        grid: {
                            display: false
                        }
                    }
                }
            }
        });
    </script>
{% endblock %}