{% extends './layout.html' %}


{% block title %}
    users
{% endblock %}


{% block input_text %}
    {% if search %}
        <input type="text" name="search" value="{{ search }}" style="margin-right:10px">
    {% else %}
        <input type="text" name="search" placeholder="이름을 입력하세요" style="margin-right:10px;">
    {% endif %}
{% endblock %}


{% block select_option %}
    <select name="choice_gender" style="margin-right:10px;" >
        <option value="{{ choice_gender }}" selected disabled hidden>성별</option>
        {% for g in genders %}
            <option value="{{ g[0] }}">{{ g[1] }}</option>
        {% endfor %}
    </select>
{% endblock %}


{% block input_submit %}
    <input type="submit" value="이동">
{% endblock %}


{% block headers %}
    {% for header in headers %}
    <th>{{ header }}</th>
    {% endfor %}
{% endblock %}


{% block click %}
    {% for i in range(datas | length) %}
    {% set data = datas[i] %}
        <tr>
            {% for j in range(data | length) %}
                {% if j == 0 %}
                    <td>
                        <a href="/users?id={{ data[0] }}&search={{ search }}">{{ data[0] }}</a>
                    </td>
                {% elif j == 1 %}
                    {% if search %}
                        {% set start = highlight_index[i][0] %}
                        {% set end = highlight_index[i][1] %}
                        <td>{{ data[j][0:start] }}<mark>{{ data[j][start:end+1] }}</mark>{{ data[j][end+1:] }}</td>
                    {% else %}
                        <td>{{ data[j] }}</td>
                    {% endif %}
                {% else %}
                    <td>{{ data[j] }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
{% endblock %}

{% block pagination %}
    {{ super() }}
{% endblock%}