{% include 'poll/layout.html' %}

{% block content %}
	<div class="d-flex justify-content-center">
		<h1>{{ question.question_text }}</h1>
	</div>
	<div class="d-flex justify-content-center">
		<fieldset>
			<form action="{% url 'question_result' question.id %}" method="POST">
				{% csrf_token %}
				{% for choice in choices %}
					<div class="d-flex justify-content-center"></div>
						<label><input type="radio" name="choice" value="{{ choice.pk }}" required>{{ choice.choice_text }}</label>
					<div class="d-flex justify-content-center"></div>
				{% endfor %}
				<input type="submit">
			</form>
		</fieldset>
	</div>
{% endblock %}