<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {% with messages = get_flashed_messages() %}
        {% for msg in messages %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ msg }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endwith %}
    <h1>Login</h1>
    <form method="post" action="/login">
        <label for="username">username</label>
        <input type="text" name="username" id="username" required />
        <label for="password">password</label>
        <input type="password" name="password" id="password" required />
        <button type="submit">로그인</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>