<!DOCTYPE html>
<html>
<head>
    <title>{{ username }}의 Flask</title>
</head>

<body>
    <h1>This is My Flask Homepage</h1>
    <table border = "1">
    {% for header in headers %}
        <th>{{ header }}</th>
    {% endfor %}

    {% for i in range(userdata | length) %}
        <tr>
        {% for j in range(userdata[i] | length) %}
            <td>{{ userdata[i][j] }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <button type="button" class="navyBtn", onclick="location.href='/users?search_user={{ search_user }}&page={{ page }}'">뒤로 가기</button>
</body>
</html>